body {
    background-color: black;
}

#caja {
    margin-top: 5%;
    margin-left: 15%;
    width: 500px;
    height: 600px;
}

#top {
    height: 10%;
    width: 100%;
    background-color: white;
}

#mid{
    height: 300px;
    width: 100% ;
    background-image: url(InstagramPost.jpg);
    object-fit: cover;
    background-position: center center;
}



#bottom {
    height: 40%;
    width: 100%;
    background-color: white;
}

#topIzq {
    display: block;
    float: left;
}

#topDerecha {
    display: block;
    float: right;
}

#iconoHtml5 {
    margin: 15px;
    float: left;
}

#spanHtml5 {
    font-weight: bold;
    float: left;
    margin-top: 13px;
    display: block;
    width: 50%;
}

#spanRigo {
    float: left;
    width: 50%;
}

#iconoOpciones {
    float: right;
    margin: 15px;
}

#iconosBottomLeft {
    display: block;
    float: left;
    margin: 11px;
}

#iconosBottomRight {
    display: block;
    float: right;
    margin: 11px;
}

#textoBot{
    display: block;
    float: left;
    margin: 15px;
}